
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Add Person</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<h1>Update a Person:</h1>

<!--
   In Thymeleaf the equivalent of
   JSP's ${pageContext.request.contextPath}/edit.html
   would be @{/edit.html}
   -->

<form th:action="@{/update} + '/' + ${id}"
      th:object="${characterForm}" method="POST">
    Name
    <input type="text" th:field="*{name}" />
    <br/>
    Life
    <input type="text" th:field="*{life}" />
    <input type="text" th:field="*{id}" />

    <br/>
    <input type="submit" value="Update" />
</form>

<br/>

<!-- Check if errorMessage is not null and not empty -->


</body>
</html>